/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat' 'Arial', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  height: auto;
}
