.about {
    margin: 0 auto;
    &__wrapper {
        display: inline-block;
        margin: 0 auto;
        margin-right: 0;
        padding-right: 0;
    }
    &__heading {
        margin-top: 175px;
        margin-bottom: 75px;
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        display: flex;
        justify-content: center;
        color: #55A630;
    }
    
    &__section {
        display: flex;
        justify-content: space-between;
        
        &__heading {
            width: 470px;
            font-style: normal;
            font-weight: 600;
            font-size: 29px;
            line-height: 26px;
            color: #424242;
            opacity: 0.8;
        }
        
        &__text {
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 33px;
            color: #424242;
            opacity: 0.8;
            
        }
    }
    
    &__text-span {
        display: inline-block;
        margin-top: 30px;
    }
    &__content {
        width: 590px;
        margin-left: 126px;
    }
    
    &__content2 {
        margin-left: 0;
        margin-right: 126px;
    }
    
    &__top {
        flex-direction: row-reverse;
        
        
        
    }
    
    &__center {
        margin-top: 75px;
        margin-bottom: 75px;
    }
    
    
    &__bottom {
        flex-direction: row-reverse;
        margin-bottom: 175px;
    }
    
    &__span {
        display: inline-block;
        height: 1px;
        width: 133px;
        border-top: 2px solid #55A630;
        margin-bottom: 15px;
    }
    
}

@media only screen and (max-width: 1000px) {
    .about {
        &__section {
            
            &__heading {
                margin-top: 50px;
                font-size: 25px;
                line-height: 26px
            }
            
            &__text {
                font-size: 15px;
                line-height: 20px;
            }
            
        }
        &__span {
            margin-top: 20px;
            margin-bottom: 42px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .about {
        &__section {
            &__heading {
                margin-top: 51px;
                font-size: 18px;
                line-height: 26px;
            }
            
            &__text {
                font-size: 15px;
                line-height: 20px;
            }
            
        }
        &__span {
            margin-top: 15px;
            margin-bottom: 35px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .about {
        &__section {
            text-align: center;
            flex-direction: column-reverse;
            &__heading {
                padding-right: 220px;
                margin-top: 51px;
                font-size: 18px;
                line-height: 26px;
            }

            &__heading {
                padding-right: 220px;
            }
            
            &__text {
                font-size: 15px;
                line-height: 20px;
                width: 340px;
            }

           
            
        }
        &__span {
            width: 75px;
            margin: 0;
            margin-right: 450px;
            margin-bottom: 23px;
            margin-top: 15px;
        }

        &__span2 {
            margin-left: 35px;
        }

        &__content {
            padding-left: 30px;
        }
        &__content2 {
            padding-left: 136px;
        }
        
    }
}

@media only screen and (max-width: 320px) {
    .about {
        &__heading {
            margin: 0 auto;
            margin-top: 103px;
            margin-bottom: 40px;
            width: 209px;
            font-size: 20px;
            line-height: 26px;
            display: flex;
            align-items: center;
            text-align: center;
        }

        &__section {

            &__heading {
                width: 265px;
                margin: 0;
                padding: 0;
            }

            &__text {
                width: 282px;
            }
        }
    }
    
}