.hero {
    margin: 0;
    padding: 0;
    &__section {
        display: flex;
        justify-content: space-between;
        padding-right: 200px;
    }
    
    &__text {
        min-width: 561px;
        margin-top: 202px;
        margin-right: 26px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 39px;
        line-height: 57px;
        text-transform: uppercase;
        color: #55A630;
    }
    
    &__img {
        margin-top: 56px;
    }
}

@media only screen and (max-width: 1000px) {
    .hero {
        
        
        
        &__text {
            width: 470px;
            margin-right: 40px;
            font-weight: 600;
            font-size: 32px;
            line-height: 46px
        }
        
        &__img {
            width: 471px;
            height: 433px;
        }
    }
}


@media only screen and (max-width: 768px) {
    .hero {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        
        &__section {
            display: flex;
            justify-content: space-between;
        }

        &__text {
            font-style: normal;
            font-size: 25px;
            line-height: 46px;
            padding-right: 200px;
        }

        &__img {
            margin-right: 0;
        }
    }
}

@media only screen and (max-width: 480px) {
    .hero {
        display: flex;
        &__section {
            padding: 0;
            display: inline-block;
            text-align: center;
            margin: 0 auto;
            margin-left: 230px;
        }

        &__text {
            padding: 0;
            margin: 0;
            margin-top: 100px;
            min-width: 20px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
        }
        
        &__img {
            margin: 0 ;
            margin-top: 35px;
            height: 322px;
        }
    }
}

@media only screen and (max-width: 320px) {
    .hero {
        
        &__section {
            padding-left: 100px;
            margin: 0 auto;
            // margin-left: 123px;
        }
        &__text {

        }

        &__img {
            width: 480px;
        }
    }

}