.hero {
    margin: 0;
    padding: 0;
    &__section {
        display: flex;
        max-width: 900px;
    }
    
    &__heading {
        max-width: 401px;
        margin-top: 202px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 39px;
        line-height: 57px;
        text-transform: uppercase;
        color: #55A630;
    }
    
    &__img {
        margin-top: 56px;
    }
    
    &__bottom-section {
        margin: 75px auto;
        padding: 59px 14px 60px 25px;
        background: #FFFFFF;
        box-shadow: 10px 10px 10px rgba(207, 207, 207, 0.25);
    }
    
    &__text {
        margin: 0 auto;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
        color: #424242;
        opacity: 0.8;
    }
}

@media only screen and (max-width: 1000px) {
    .hero {
        &__heading {
            font-weight: 600;
            font-size: 32px;
            line-height: 46px
        }
        
        &__bottom-section {
            margin: 0;
            padding: 0;
            display: flex;
        }
        
        &__text {
            padding: 20px;
            font-size: 15px;
            line-height: 22px;
        }
    }
}


@media only screen and (max-width: 768px) {
    .hero {
        display: flex;
        margin-top: 12px;
        
        &__section {
            display: flex;
        }
        
        &__heading {
            font-style: normal;
            font-size: 25px;
            line-height: 46px;
            padding-left: 100px;
            padding-right: 50px;
        }

        
        &__bottom-section {
            width: 572px;
            padding: 32px 31px 32px 26px;
        }
        
        &__text {
            width: 515px;
            font-size: 15px;
            line-height: 21px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .hero {
        display: flex;
        &__section {
            padding: 0;
            display: inline-block;
            text-align: center;
            margin: 0 auto;
        }
        
        &__heading {
            padding: 0;
            margin: 0;
            margin-top: 100px;
            margin: 50px auto;
            margin-right: 40px;
            min-width: 20px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
        }
        
        &__img {
            margin-top: 35px;
            max-width: 480px;
            height: 322px;
        }

        &__bottom-section {
            max-width: 360px;
            margin: 40px auto;
            padding: 22px 19px 22px 20px;
            margin-left: 300px;
        }

        &__text {
            max-width: 321px;
            font-size: 15px;
            line-height: 22px;
        }
    }
}

@media only screen and (max-width: 320px) {
    .hero {
        &__section {
            margin: 0 auto;
            margin-left: 100px;
        }
        &__heading {
            margin: 100px auto;
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 21px;
            line-height: 25px;
        }
        
        &__img {
            margin: 0 auto;
            width: 480px;
        }
        
        &__bottom-section {
            margin: 40px auto;
            max-width: 295px;
            padding: 22px 1px 23px 2px;
            margin-left: 200px;
        }

        &__text {
            max-width: 295px;
            font-size: 15px;
            line-height: 21px;
        }
    }
    
}